.one:hover {
    background-color: green;
}

p::before {
    content: "Read this: ";
}

div:nth-child(2) {
    background-color: green;
}

p:lang(it) {
    background: yellow;
}

svg|a {}

:not(body) {
    background: #ff0000;
}

:root {
    --blue: #1e90ff;
}

body {
    background-color: var(--blue);
}

#container {
    --first-color: #290;
}

#thirdParagraph {
    background-color: var(--first-color);
    color: var(--second-color);
}