h1.l-739016 .class2.l-739016 div.l-739016{color: red;font-size: 6rem;}
.class1.l-739016 div.l-739016{color: red;font-size: 6rem;}
h1.class2.l-739016 #item.class3.l-739016{color: red;font-size: 6rem;}
div.l-739016 {border: 1px solid black;margin: 25px 50px 75px 100px;background-color: lightblue;}
p.four.l-739016 {border-style: solid;border-color: #ff0000 #00ff00 #0000ff rgb(250,0,255);}
