/* comment is added here*/
div {
    border: 1px solid black;
    margin: 25px 50px 75px 100px;
    /* comment is added here*/
    background-color: lightblue;
    content: "hello";
    font: 1.3em/1.2 Arial, Helvetica, sans-serif;
}

.two {
    color: yellow;
}

div .one p {
    color: blue;
}

div.one {
    color: orange;
}

div #two {
    color: blue;
}

h2,
a {
    color: purple;
}

.one:hover {
    background-color: green;
}

p:lang(it) {
    background: yellow;
}

p::before {
    content: "Read this: ";
}